@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}

.btn-primary {
  @apply bg-black border-none text-white ;
}
.btn-primary:hover {
  @apply opacity-90;
}